<section class="index-section">
  <p class="what-action"><b>Contact Infos</b></p>
  <ul class="users-list">
    <li>First name: <i><%= @contact[:first_name] %></i></li>
    <li>Last name: <i><%= @contact[:last_name] %></i></li>
    <li>Street: <i><%= info_or_slash(@contact[:street])%></i></li>
    <li>Number: <i><%= info_or_slash(@contact[:number])%></i></li>
    <li>Zipcode: <i><%= info_or_slash(@contact[:zipcode])%></i></li>
    <li>City: <i><%= info_or_slash(@contact[:city])%></i></li>
    <li>Country: <i><%= info_or_slash(@contact[:country])%></i></li>
    <li>Phone number: <i><%= info_or_slash(@contact[:phone_number] )%></i></li>
    <li>Mail adress: <i><%= info_or_slash(@contact[:mail_adress])%></i></li>
    <li>Birthdate: <i><%= info_or_slash(@contact[:birthdate])%></i></li>
    <li>Category: <i><%== category_link_or_slash(@contact[:category])%></i></li>
  </ul>
</section>

<nav class="users-list">
  <a href="/contacts/<%= @contact[:id]%>/edit">Edit contact</a>  |  
  <a href="/contacts">Back to contacts list</a>
</nav>
